.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
backend/playground/
backend/uploads
backend/seed.py

node_modules/
frontend/node_modules/
dist/
frontend/dist/
dist-ssr/
frontend/dist-ssr/
*.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

docker-compose.override.yml