python-dotenv~=1.2.2
SQLAlchemy~=2.0.50
psycopg2-binary~=2.9.9
pydantic~=2.13.4
uvicorn~=0.48.0
fastapi~=0.136.3

pytest
httpx2
langchain_core
langchain_openai
langchain_groq
langchain_google_genai
langchain_ollama
langchain-postgres
langgraph
PyJWT
bcrypt
passlib
python-multipart
pgvector
alembic
langchain-text-splitters
genanki
zstandard
pypdf
ebooklib
beautifulsoup4
odfpy
python-docx